{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block css %}
    <link href={% static 'tables/css/styles.css' %} rel="stylesheet">
{% endblock %}

{% block content %}
    <h1>Список событий</h1>
    <div class="card">
        <h2>Фильтр</h2>
        <form method="GET">
            {% render_field filters.form.eventtime class="form-field"%}
            {% render_field filters.form.proc class="form-field" placeholder="Процедура"%}
            {% render_field filters.form.text class="form-field" placeholder="Текст ошибки"%}
            {% render_field filters.form.obj_type class="form-field" placeholder="Тип Объекта"%}
            {% render_field filters.form.err_dtl class="form-field" placeholder="err_dtl"%}
            <br>
            <input type="submit" value="Поиск" name="Search" class="button-left">
{#            class="form-control" placeholder="First Name" type="text"#}
        </form>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" name="export_csv" value="export_csv"
                    class="button-right ">
                Выгрузить в .csv
            </button>
        </form>
    </div>

    <div class="card">
        <div class="table-wrapper">
            <table>
                <thead>
                <tr>
                    <th>
                        <a>
                            ID Log</a></th>
                    <th>
                        <a>
                            Время события</a></th>
                    <th>
                        <a>
                            Процедура</a></th>
                    <th>
                        <a>
                            Код ошибки</a></th>
                    <th>
                        <a>
                            Текст ошибки</a></th>
                    <th>
                        <a>
                            Идентификатор объекта</a></th>
                    <th>
                        <a>
                            Объект</a></th>
                    <th>
                        <a>
                            Тип события</a></th>
                    <th>
                        <a>
                            err_dtl</a></th>
                    <th>
                        <a>
                            err_hint</a></th>
                </tr>
                </thead>
                <tbody>

                {% for logpr in page_object %}
                    <tr>
                        <td>
                            <div class="div-overflow">{{ logpr.seq_id }}</div>
                        </td>
                        <td>
                            <div class="div-overflow">{{ logpr.eventtime |date:"d.m.Y H:i:sO" }}</div>
                        </td>
                        <td>
                            <div class="div-overflow">{{ logpr.proc }}</div>
                        </td>
                        <td>
                            <div class="div-overflow">{{ logpr.err_code }}</div>
                        </td>
                        <td>
                            <div class="div-overflow">{{ logpr.text }}</div>
                        </td>
                        <td>
                            <div class="div-overflow">{{ logpr.obj_id }}</div>
                        </td>
                        <td>
                            <div class="div-overflow">{{ logpr.obj_type }}</div>
                        </td>
                        <td>
                            <div class="div-overflow">{{ logpr.message_type }}</div>
                        </td>
                        <td>
                            <div class="div-overflow">{{ logpr.err_dtl }}</div>
                        </td>
                        <td>
                            <div class="div-overflow">{{ logpr.err_hint }}</div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


        <nav aria-label="Page navigation ">
            <ul class="paginator">
                {% if page_object.has_previous %}
                    <li class="paginator__item"><a
                            href="{% url 'logproc' %}?page={{ page_object.previous_page_number }}&sort={{ page_object.sort }}&search={{ page_object.search }}&datefrom={{ page_object.datefrom }}&dateto={{ page_object.dateto }}"
                            class="paginator__item-link">
                        Предыдущая
                    </a></li>
                {% endif %}

                {% for page_number in page_object.adjusted_elided_pages %}
                    {% if page_number == page_object.paginator.ELLIPSIS %}
                        <li class="paginator__item">
                            <span class="paginator__item-link"> {{ page_number }} </span>
                        </li>
                    {% else %}
                        <li class="paginator__item {% if page_number == page_object.number %}active{% endif %}">
                            <a href="{% url 'logproc' %}?page={{ page_number }}&sort={{ page_object.sort }}&search={{ page_object.search }}&datefrom={{ page_object.datefrom }}&dateto={{ page_object.dateto }}"
                               class="paginator__item-link">
                                {{ page_number }}
                            </a></li>
                    {% endif %}
                {% endfor %}

                {% if page_object.has_next %}
                    <li class="paginator__item"><a
                            href="{% url 'logproc' %}?page={{ page_object.next_page_number }}&sort={{ page_object.sort }}&search={{ page_object.search }}&datefrom={{ page_object.datefrom }}&dateto={{ page_object.dateto }}"
                            class="paginator__item-link">
                        Следующая
                    </a></li>
                {% endif %}
            </ul>
        </nav>
        <p>Записи с {{ page_object.start_index }} до {{ page_object.end_index }}
            (всего {{ page_object.paginator.count }})</p>

    </div>



{% endblock %}

{% block scripts %}

    <script defer type="text/javascript">

        function runSearch() {
            let search = document.getElementById("search-table").value;
            let dateFrom = document.getElementById("date_from").value;
            let timeFrom = document.getElementById("time_from").value;
            let dateTo = document.getElementById("date_to").value;
            let timeTo = document.getElementById("time_to").value;

            let strFrom = dateFrom + " " + (timeFrom.length != 5 ? "00:00" : timeFrom);
            let strTo = dateTo + " " + (timeTo.length != 5 ? "00:00" : timeTo);

            if (search != null)
                window.location = '{% url 'logproc'%}?page={{page_object.number}}&sort={{page_object.sort}}&search=' + search +
                    '&datefrom=' + strFrom.trim() + "&dateto=" + strTo.trim();
        }
    </script>

{% endblock scripts %}