{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no"/>

    {% block meta %}

    {% endblock %}
    <link href={% static '/ico/60.png' %} rel="apple-touch-icon">
    <link href={% static '/ico/76.png' %} rel="apple-touch-icon" sizes="76x76">
    <link href={% static '/ico/120.png' %} rel="apple-touch-icon" sizes="120x120">
    <link href={% static '/ico/152.png' %} rel="apple-touch-icon" sizes="152x152">
    <link href={% static '/ico/favicon.ico' %} rel="icon" type="image/x-icon">


    <link rel="stylesheet" href={% static 'css/styles.css' %}>
    {% block css %}

    {% endblock %}

    <title>{{ title }}</title>
</head>
<body>
<div class="wrapper">
    <header class="header" id="header">
        <div class="header-logo">
            <a href={% url 'tables:index' %}>
                <img src={% static '/img/logo.png' %} alt="logo" data-src={% static '/img/logo.png' %}
                        data-src-retina={% static '/img/logo_2x.png' %}
                     width="133" height="37">
            </a>
        </div>
        <ul class="header__nav">
            {% if formuserfacility != "" %}
                <li>
                    <form class="header__nav-facilityform" method="POST" action="facilityselectwebuser/">
                        <div class="form-group">
                            {% csrf_token %}
                            {% for field in formuserfacility %}

                                {{ field }}

                            {% endfor %}
                        </div>
                    </form>
                </li>
            {% endif %}
            <li>
                <div class="dropdown pull-right">
                    <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">

                        <div class="pull-left p-r-10 p-t-5 fs-15 font-heading">
                            {% if user.is_authenticated %}
                                <span class="semi-bold">{{ user.first_name }} {{ user.last_name }}</span>
                            {% else %}
                                <span class="semi-bold">Для авторизации нажмите на картинку</span>
                            {% endif %}
                        </div>

                        <span class="thumbnail-wrapper d32 circular inline">
                        {% if user.is_authenticated %}
                            {% if user.avatar != '' %}
                                <img src="/media/{{ user.avatar }}" alt="" data-src="/media/{{ user.avatar }}"
                                     data-src-retina="/media/{{ user.avatar }}" width="32" height="32">
                            {% else %}
                                <img src="/static/img/profiles/avatar.jpg" alt=""
                                     data-src="/static/img/profiles/avatar.jpg"
                                     data-src-retina="/static/img/profiles/avatar.jpg" width="32" height="32">
                            {% endif %}
                        {% else %}
                            <img src="/static/img/profiles/avatar.jpg" alt=""
                                 data-src="/static/img/profiles/avatar.jpg"
                                 data-src-retina="/static/img/profiles/avatar.jpg" width="32" height="32">
                        {% endif %}
                        </span>
                    </button>
                    <ul class="dropdown-menu profile-dropdown" role="menu">
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'tables:userprofile' %}"><i class="pg-settings_small"></i>Профиль</a>
                            </li>
                            <li><a href="#"><i class="pg-laptop"></i>Роль: Мониторинг</a></li>
                            <li class="bg-master-lighter">
                                <a href="{% url 'auth:logout' %}" class="clearfix">
                                    <span class="pull-left">Выход</span>
                                    <span class="pull-right"><i class="pg-power"></i></span>
                                </a>
                            </li>
                        {% else %}
                            <li><a href="#"><i class="pg-settings_small"></i>Профиль</a></li>
                            <li><a href="#"><i class="pg-cupboard"></i>Роль: Монитринг</a></li>
                            <li class="bg-master-lighter">
                                <a href="{% url 'auth:login' %}" class="clearfix">
                                    <span class="pull-left">Войти</span>
                                    <span class="pull-right"><i class="pg-power"></i></span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </li>
        </ul>
    </header>

    <div id="sidebar" class="sidebar">
        <div class="sidebar__container">

        </div>
        <a href={% url 'tables:index' %} class="sidebar-link">
            <span class="material-icons">home</span>
            <span class="icon-text">домашняя</span>
        </a>

        <br>
        <a href={% url 'tables:logproc' %} class="sidebar-link">
            <span class="material-icons">history</span>
            <span class="icon-text">логирование
                <i class="material-icons-round arrow-sidebar">chevron_right</i>
            </span>
        </a>
        <br>
        <a href="#" class="sidebar-link">
            <i class="material-icons">smartphone</i>
            <span class="icon-text">оборудование
                <i class="material-icons-round arrow-sidebar">chevron_right</i>
            </span>


        </a>
        <br>
        <a href="#" class="sidebar-link">
            <i class="material-icons">person_pin</i>
            <span class="icon-text">пользователи
                <i class="material-icons-round arrow-sidebar">chevron_right</i>
            </span>
        </a>
    </div>

    <div class="main" id="content">
        {% block content %}

        {% endblock %}
    </div>

    <footer class="footer">
        <p class="footer__left">
            Copyright &copy; 2023 <i>Voiceman LLC</i> Все права защищены.
        </p>
        <p class="footer__right">
            <a targetModal="#aboutModal" class="modal-button">О программе</a> <span class="hint-text">| Сделано для работы</span>
        </p>
    </footer>

</div>
<div class="loader"></div>

<div id="aboutModal" class="modal">
    <div class="modal__content">
        <span class="modal-close">&times;</span>
        <h2>Modal</h2>
        <hr>
        <p>123</p>
    </div>
</div>

<script src="{% static 'js/jquery.js' %}"></script>
{% block scripts %}
{% endblock %}
<script defer src="{% static 'js/scripts.js' %}"></script>
<script defer src="{% static 'js/modal.js' %}"></script>
</body>
</html>